<!DOCTYPE html>
{% load static %}
<html>
    <head>
      <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <title>
            Hubungi Dafiq
        </title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color:black;">
            <a class="navbar-brand" href="#">Dafiq Achmad - 1906308343</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'homepage:homepage' %}">Halaman Utama</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'homepage:riwayat' %}">Pendidikan</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'homepage:hobi' %}">Hobi & Ketertarikan</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'homepage:pengalaman' %}">Pengalaman</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'homepage:karya' %}">Karya</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'homepage:contact' %}">Hubungi Saya<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'homepage:matkulpage' %}">Form Jadwal Kuliah</a>
                </li>
                <li class="nav item">
                  <a class="nav-link" href="{% url 'homepage:kegiatan' %}">Form Kegiatan</a>
                </li>
                <li class="nav item">
                  <a class="nav-link" href="{% url 'homepage:prestasi' %}">Prestasi & Kepanitiaan</a>
                </li>
                <li class="nav item">
                  <a class="nav-link" href="{% url 'homepage:caribuku' %}">Cari Buku</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="https://dafiq.herokuapp.com/">Story 1</a>
                </li>
              </ul>
            </div>
          </nav>
          <div class="container">
              <div class="row">
                  <div class="col-md-12">
                    <h1 style="text-align: center; margin-top: 50px; margin-bottom: 50px;">Hubungi Saya</h1><br /><br />
                  </div>
              </div>
              <div class="row">
                      <div class="col-md-4">
                      <a href="https://instagram.com/dafiqachmad"><img src="{% static 'instagram.png' %}" width="300" height="300" style="margin: 0 20px;margin-bottom: 20px;"></a>
                      <p style="font-size: 24px;">@dafiqachmad</p>
                      </div>
                      <div class="col-md-4">
                      <a href="https://twitter.com/dapxq"><img src="{% static 'twitter.png' %}" width="300" height="300" style="margin: 0 20px;margin-bottom: 20px;"></a>
                      <p style="font-size: 24px;">@dapxq</p>
                      </div>
                      <div class="col-md-4">
                      <a href="https://wa.me/6281212833924"><img src="{% static 'whatsapp.png' %}" width="300" height="300" style="margin: 0 20px;margin-bottom: 20px;"></a>
                      <p style="font-size: 24px;">+6281212833924</p>
                      </div>
              </div>
                <div class="row">
                  <div class="col-md-12">
                    <a href="{% url 'homepage:homepage' %}"><img src="{% static 'panah.png' %}" width="30" height="30" style="margin-top: 200px;"></a> 
                  </div>
                </div>
          </div>
    </body>
</html>