<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'style.css' %}">

        <title>
            Karyanya Dafiq
        </title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color:black;">
            <a class="navbar-brand" href="#">Dafiq Achmad - 1906308343</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'homepage:homepage' %}">Halaman Utama</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'homepage:riwayat' %}">Pendidikan</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'homepage:hobi' %}">Hobi & Ketertarikan</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'homepage:pengalaman' %}">Pengalaman</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'homepage:karya' %}">Karya<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'homepage:contact' %}">Hubungi Saya</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'homepage:matkulpage' %}">Form Jadwal Kuliah</a>
                  </li>
                  <li class="nav item">
                    <a class="nav-link" href="{% url 'homepage:kegiatan' %}">Form Kegiatan</a>
                  </li>
                  <li class="nav item">
                    <a class="nav-link" href="{% url 'homepage:prestasi' %}">Prestasi & Kepanitiaan</a>
                  </li>
                  <li class="nav item">
                    <a class="nav-link" href="{% url 'homepage:caribuku' %}">Cari Buku</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="https://dafiq.herokuapp.com/">Story 1</a>
                  </li>
              </ul>
            </div>
          </nav>
            <h1 style="text-align: center; margin-top: 50px;">Karya Saya</h1><br /><br />
            <section class="gallery-block cards-gallery">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card border-0 transform-on-hover">
                                <a href="https://open.spotify.com/track/0AREeFSuQ57JIXTbDsEvoi?si=sG9KtGBURkG0yAfgJYvPsQ"><img src="{% static 'affection.jpg' %}" class="card-img-top" height=500 width=auto></a>
                                <div class="card-body">
                                    <h6 style="color: dimgrey;font-weight: bold;">Affection</h6>
                                    
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-6">
                            <div class="card border-0 transform-on-hover">
                                <a href="https://open.spotify.com/track/4m29ezOvS5rAK9MD9QXTEA?si=tscAQa4fTi2fqZHdLZI4TA"><img src="{% static 'dying.jpg' %}" class="card-img-top" width=auto height=500></a>
                                <div class="card-body">
                                    <h6 style="color: dimgrey; font-weight: bold;">Dying</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                        <h1 style="text-align: center; margin-top: 50px;">Dengarkan di</h1>
                    <div class="row">
                        <div class="col-md-4">
                            <a href="https://music.apple.com/us/artist/dafiq/1524212502"><img src="{% static 'apple.png' %}" width="100" height="100" style="margin: 0 20px;margin-bottom: 20px;"></a>
                        </div>
                        <div class="col-md-4">
                            <a href="https://open.spotify.com/artist/5YewuC9XcR0HZT3QD3hVyA?si=sDkJ8KwZQ2eLWwLIIDC42w"><img src="{% static 'spotify.png' %}" width="100" height="100" style="margin: 0 20px;margin-bottom: 20px;"></a>
                        </div>
                        <div class="col-md-4">
                            <a href="https://www.youtube.com/channel/UCQWmWudujeOEB2SCQ3gcbLA"><img src="{% static 'yt.png' %}" width="100" height="100" style="margin: 0 20px;margin-bottom: 20px;"></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <a href="https://music.amazon.com/artists/B08DF765FW?ref=dm_sh_e847-0b18-dmcp-4e61-e6c8d&musicTerritory=US&marketplaceId=ATVPDKIKX0DER"><img src="{% static 'amazon.png' %}" width="100" height="100" style="margin: 0 20px;margin-bottom: 20px;"></a>
                        </div>
                        <div class="col-md-4">
                            <a href="https://soundcloud.com/dafiqmusic"><img src="{% static 'sc.png' %}" width="80" height="80" style="margin: 0 20px;margin-bottom: 20px;"></a>
                        </div>
                        <div class="col-md-4">
                            <a href="https://www.deezer.com/en/artist/101594542"><img src="{% static 'deezer.png' %}" width="100" height="100" style="margin: 0 20px;margin-bottom: 20px;"></a>
                        </div>      
                    </div> 
                    <div class="row">
                        <div class="container">
                            <a href="{% url 'homepage:contact' %}"><button class="btn">Hubungi Saya</button></a>
                          </div>
                    </div>         
        </div>
    </body>
</html>