<!DOCTYPE html>
{% load static %}
<html>
    <head>
      <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <title>
            Form Kegiatan
        </title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color:black;">
            <a class="navbar-brand" href="#">Dafiq Achmad - 1906308343</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'homepage:homepage' %}">Halaman Utama</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'homepage:riwayat' %}">Pendidikan</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'homepage:hobi' %}">Hobi & Ketertarikan</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'homepage:pengalaman' %}">Pengalaman</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'homepage:karya' %}">Karya</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'homepage:contact' %}">Hubungi Saya</a>
                </li>
                <li class="nav item">
                  <a class="nav-link" href="{% url 'homepage:matkulpage' %}">Form Jadwal Kuliah</a>
                </li>
                <li class="nav item">
                    <a class="nav-link active" href="{% url 'homepage:kegiatan' %}">Form Kegiatan<span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav item">
                    <a class="nav-link" href="{% url 'homepage:prestasi' %}">Prestasi & Kepanitiaan</a>
                  </li>
                  <li class="nav item">
                    <a class="nav-link" href="{% url 'homepage:caribuku' %}">Cari Buku</a>
                  </li>
                <li class="nav-item">
                  <a class="nav-link" href="https://dafiq.herokuapp.com/">Story 1</a>
                </li>
              </ul>
            </div>
          </nav>
        <h1 style="text-align: center; margin-top: 50px; margin-bottom: 50px;">Form Kegiatan</h1>
		  <div class="container">
            <div class="wrapper">
                <div class="row">
                    <div class="col-md-4">
                        
                            <h2 class="content-for-all">Ngeband</h2><br />
                            <img src="{% static 'ngeband.png' %}" style="width: 150px; height: 150px;"><br />
                            <form method="POST" action="" id="forms_band" style="margin-top: 20px;">
                                {% csrf_token %}
                                {{ forms_band.as_p }}
                                <input type='submit' class='btn btn-primary' name = 'btn_form_band' value='Tambah Peserta'/>
                            </form><br />
                            {% if list_peserta_band %}
                                {% for peserta_band in list_peserta_band %}
                                    <div class = "content-for-all">
                                        - {{ peserta_band.Nama }} <br />
                                    </div>
                                {% endfor %}
                            {% endif %}
                        
                    </div>
                    <div class="col-md-4">
                        
                            <h2 class="content-for-all">Nongkrong</h2><br />
                            <img src="{% static 'nongkrong.png' %}" style="width: 150px; height: 150px;"><br />
                            <form method="POST" action="" id="forms_nongkrong" style="margin-top: 20px;">
                                {% csrf_token %}
                                {{ forms_nongkrong.as_p }}
                                <input type='submit' class='btn btn-primary' name = 'btn_form_nongkrong' value='Tambah Peserta'/>
                            </form><br />
                            {% if list_peserta_nongkrong %}
                                {% for peserta_nonkrong in list_peserta_nongkrong %}
                                    <div class = "content-for-all">
                                        - {{ peserta_nonkrong.Nama }} <br />
                                    </div>
                                {% endfor %}
                            {% endif %}
                        
                    </div>
                    <div class="col-md-4">
                        
                            <h2 class="content-for-all">Mabar</h2><br />
                            <img src="{% static 'mabar.png' %}" style="width: 150px; height:150px;"><br />
                            <form method="POST" action="" id="forms_mabar" style="margin-top: 20px;">
                                {% csrf_token %}
                                {{ forms_mabar.as_p }}
                                <input type='submit' class='btn btn-primary' name = 'btn_form_mabar' value='Tambah Peserta'/>
                            </form><br />
                            {% if list_peserta_mabar %}
                                {% for peserta_mabar in list_peserta_mabar %}
                                    <div class = "content-for-all">
                                        - {{ peserta_mabar.Nama }} <br />
                                    </div>
                                {% endfor %}
                            {% endif %}
                        
                    </div>
                </div>
            </div>
        </div>

	</body>
</html>