<!DOCTYPE html>
{% load static %}
<html>
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/ui-darkness/jquery-ui.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>     
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>    
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
      <link rel="stylesheet" href="{% static 'story9.css' %}">
      <script src="{% static 'js/story8.js' %}"></script>

        <title>
            Cari Buku
        </title>
    </head>
    <body>
      
      <div class="container">
        {% if user.is_authenticated %}
            <h1 class='judul'>Welcome {{user.username}} </h1>
            <a href="{% url 'homepage:homepage' %}" >
                <div id="redirect">
                    Click here to go to my website
                </div>
            </a>   
            <div class="tombol">
                <a class='btn btn-primary tombol' href="{% url 'homepage:logout' %}">Logout</a>
            </div>
        {% else %}
            <h1 class='judul'>You Have to Login First</h1>
        
            <div class='form'>
                <form action="" method="POST">
                    {% csrf_token %} {{ form }}
                    <div class="tombol">
                        <input type="submit" class="btn btn-primary" value="Login" id="submit">
                    </div>
                </form>
            </div>
            <h4 class="judul2">Dont have an account? <a href="{% url 'homepage:register' %}">Sign Up</a></h4>  
        {% endif %}
        </div>
     
    </body>
    
</html>