<!DOCTYPE html>
{% load static %}
<html>
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/ui-darkness/jquery-ui.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>     
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>    
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
      <link rel="stylesheet" href="{% static 'story7.css' %}">
      

        <title>
            Prestasi & Pengalaman Organisasi
        </title>
    </head>
    <body>
      <nav class="navbar navbar-expand-lg navbar-dark" style="background-color:black;">
        <a class="navbar-brand" href="#">Dafiq Achmad - 1906308343</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'homepage:homepage' %}">Halaman Utama</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'homepage:riwayat' %}">Pendidikan</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'homepage:hobi' %}">Hobi & Ketertarikan</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'homepage:pengalaman' %}">Pengalaman</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'homepage:karya' %}">Karya</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'homepage:contact' %}">Hubungi Saya</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'homepage:matkulpage' %}">Form Jadwal Kuliah</a>
            </li>
            <li class="nav item">
              <a class="nav-link" href="{% url 'homepage:kegiatan' %}">Form Kegiatan</a>
            </li>
            <li class="nav item">
                <a class="nav-link active" href="{% url 'homepage:prestasi' %}">Prestasi & Kepanitiaan<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav item">
                <a class="nav-link" href="{% url 'homepage:caribuku' %}">Cari Buku</a>
              </li>
            <li class="nav-item">
              <a class="nav-link" href="https://dafiq.herokuapp.com/">Story 1</a>
            </li>
          </ul>
        </div>
      </nav>
      <div class="container">
        <h1 style="color: white; text-align: center; margin-top: 50px; margin-bottom: 30px;">Silahkan dilihat lihat</h1>
          <div class="wrapper">
              <div class="accordion" id="1">
                <div class="accordion_tab">Kegiatan</div>
                <div class="accordion_item">
                    <li>Kuliah Online di Fasilkom UI</li>
                    <li>Jamming bersama teman-teman</li>
                    <li>Iseng Freelance Online</li>
                </div>              
             </div>
             <div class="accordion" id="2">
                <div class="accordion_tab">Pengalaman Organisasi</div>
                <div class="accordion_item">
                    <li>Ketua Rohis SMP</li>
                    <li>Sospro Maung 2019</li>
                    <li>Compfest 12 2020</li>
                </div>              
             </div>
             <div class="accordion" id="3">
                <div class="accordion_tab">Prestasi</div>
                <div class="accordion_item">
                    <li>Urutan ketiga Nilai Ujian Nasional Tertinggi tingkat SMP</li>
                    <li>Apalagi ya</li>
                    <li>Argh</li>
                </div>              
             </div>
             <div class="accordion" id="4">
                <div class="accordion_tab">Favorit</div>
                <div class="accordion_item">
                    <li>Football Player : Cristiano Ronaldo</li>
                    <li>Football Team   : Real Madrid</li>
                    <li>Musician/Band   : Black Sabbath, Slipknot, Motorhead, Architects</li>
                </div>              
             </div>
        </div>
      </div>
    </body>
    <script src="{% static 'js/accordion.js' %}"></script>
</html>