<!DOCTYPE html>
{% load static %}
<html>
    <head>
      <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <title>
            Riwayat Pendidikannya Dafiq
        </title>
    </head>
    <body>
      <nav class="navbar navbar-expand-lg navbar-dark" style="background-color:black;">
        <a class="navbar-brand" href="#">Dafiq Achmad - 1906308343</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'homepage:homepage' %}">Halaman Utama</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="{% url 'homepage:riwayat' %}">Pendidikan<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'homepage:hobi' %}">Hobi & Ketertarikan</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'homepage:pengalaman' %}">Pengalaman</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'homepage:karya' %}">Karya</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'homepage:contact' %}">Hubungi Saya</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'homepage:matkulpage' %}">Form Jadwal Kuliah</a>
            </li>
            <li class="nav item">
              <a class="nav-link" href="{% url 'homepage:kegiatan' %}">Form Kegiatan</a>
            </li>
            <li class="nav item">
              <a class="nav-link" href="{% url 'homepage:prestasi' %}">Prestasi & Kepanitiaan</a>
            </li>
            <li class="nav item">
              <a class="nav-link" href="{% url 'homepage:caribuku' %}">Cari Buku</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://dafiq.herokuapp.com/">Story 1</a>
            </li>
          </ul>
        </div>
      </nav>
          <h1 style="text-align: center; margin-top: 50px;">Riwayat Pendidikan Saya</h1><br />
          <div class="container">
          <div class="table-responsive">
          <table class="table table-striped table-dark">
            <thead>
              <tr>
                <th scope="col">Tingkat</th>
                <th scope="col">Nama</th>
                <th scope="col">Tahun</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>SD</td>
                <td>SDIT Miftahul Ulum</td>
                <td>2007-2013</td>
              </tr>
              <tr>
                <td>SMP</td>
                <td>SMPIT Mifahul Ulum</td>
                <td>2013-2016</td>
              </tr>
              <tr>
                <td>SMA</td>
                <td>SMAN 6 Depok</td>
                <td>2016-2019</td>
              </tr>
            </tbody>
          </table>
          </div>
          </div>
        <div class="container"></br>
          <a href="{% url 'homepage:hobi' %}"><button class="btn">Hobi & Ketertarikan Saya</button></a>
        </div>  
    </body>
</html>