<!DOCTYPE html>
{% load static %}
<html>
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/ui-darkness/jquery-ui.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>     
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>    
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
      <link rel="stylesheet" href="{% static 'story8.css' %}">
      <script src="{% static 'js/story8.js' %}"></script>

        <title>
            Cari Buku
        </title>
    </head>
    <body>
      <nav class="navbar navbar-expand-lg navbar-dark" style="background-color:black;">
        <a class="navbar-brand" href="#">Dafiq Achmad - 1906308343</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'homepage:homepage' %}">Halaman Utama</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'homepage:riwayat' %}">Pendidikan</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'homepage:hobi' %}">Hobi & Ketertarikan</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'homepage:pengalaman' %}">Pengalaman</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'homepage:karya' %}">Karya</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'homepage:contact' %}">Hubungi Saya</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'homepage:matkulpage' %}">Form Jadwal Kuliah</a>
            </li>
            <li class="nav item">
              <a class="nav-link" href="{% url 'homepage:kegiatan' %}">Form Kegiatan</a>
            </li>
            <li class="nav item">
                <a class="nav-link" href="{% url 'homepage:prestasi' %}">Prestasi & Kepanitiaan</a>
              </li>
              <li class="nav item">
                <a class="nav-link active" href="{% url 'homepage:caribuku' %}">Cari Buku<span class="sr-only">(current)</span></a>
              </li>
            <li class="nav-item">
              <a class="nav-link" href="https://dafiq.herokuapp.com/">Story 1</a>
            </li>
          </ul>
        </div>
      </nav>
      <div class="container" style="height: 1800px;">
        <h1 class ='judul'>Cari Buku</h1>
        <div class="input">
            <img src="{% static 'search.png' %}"> 
            <input type="text" id="input" placeholder="Tulis nama buku..">
        </div>
        <br>
        <div class="content">
            <table id="tabel" class="table">
                <thead>
                    <tr>
                        <th scope="col" class="align-middle">No</th>
                        <th scope="col" class="align-middle">Cover</th>
                        <th scope="col" class="align-middle">Judul Buku</th>
                        <th scope="col" class="align-middle">Authors</th>                        
                    </tr>
                </thead>
                <tbody id="konten"></tbody>
            </table>
        </div>
    </div>
     
    </body>
    
</html>