*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Coolvetica';
}
  
.container{
    margin-top: 50px;
    max-width: 100%;
    max-height: 200%;
    position: relative;
    border-radius: 20px;    
    width: 1000px;
    height: 700px;
    
    border: 5px solid whitesmoke;
    color: #FFFFFF;
}

body {
    background-image: url('/static/unnamed.jpg');
    background-size: 100%;
}
.judul {
    margin-top: 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    text-align: center; 
}

.judul2 {
    margin-top: 50px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    text-align: center; 
}

.form {
    margin-top: 3%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.tombol {
    margin-top: 3%;
    align-items: center;
    justify-content: center;
    display: flex;
}

#redirect{
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    text-align: center; 
}
