*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Coolvetica';
}
  
body {
    background-image: url('/static/unnamed.jpg');
    background-size: 100%;
}

.judul {
    color: #FFFFFF;
    margin-top: 50px;
    font-weight: 500;
    font-size: 34px;
    text-align: center; 
}

.input{
    text-align: right;
    align-items: center;
}

.input img{
    width: 25px;
    height: 25px;
}

.content{
    margin-top: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
}

#tabel{
    color: #FFFFFF;
    font-weight: normal;
    font-size: 16px;
    text-align: center;
    background: #000000 ;
    border-radius: 5px;
    border: 2px solid #ffffff;
    cursor: pointer;
    position: relative;
}

#konten{
    font-size: 14px;
}
