
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Coolvetica';
}

body{
	background-image: url('/static/unnamed.jpg');
    background-size: 100%;
}

.accordion {
	padding: 20px;
}