@font-face {
    font-family: 'Coolvetica';
    src: url('/static/Coolvetica.woff');
}

* {
    font-family: "Coolvetica";
    color: #FFFFFF;
}


body {
    background-image: url('/static/unnamed.jpg');
    background-size: 100%;
}

.foto {
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 330px;
    height:500px;
    border-radius: 246px; 
    }

.halo {
        text-align: center;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 50px;
    
        color: #FFFFFF;
    }
    .nama {
        text-align: center;
        font-style: normal;
        font-weight: normal;
        font-size: 60px;
        line-height: 20px;  
        color: #FFFFFF;             
    }
    .npm {
        text-align: center;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 70px;
        height: 40px;
    
        color: #FFFFFF;                
    }
    .deskripsi {
        text-align: center;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 29px;
    
        color: #FFFFFF;
    
    }
    .email {
        height: 54px;
        left: 1730px;
        top: 16px;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
    
        color: #FFFFFF;     
    }
    .mail {
    width: 33px;
    height: 33px;
    left: 1680px;
    top: 10px;
    }
    .container {
        position: relative;
        text-align: center;
        color: white;
      }
    .square1 {
        margin-left: auto;
        margin-right: auto;
        width: 167px;
        height: 57px;
        left: 717px;
        top: 674px;
    
        background: #4A4A4A;
        border-radius: 81px;
    }
    .learnmore {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

/* CSS Document */
.gallery-block{padding-bottom: 60px; padding-top: 0px;}
.gallery-block .heading{margin-bottom: 50px; text-align: center;}

.gallery-block .heading h2{font-weight: bold;font-size: 1.4rem; text-transform: uppercase;}

.gallery-block.cards-gallery h6{font-size: 17px; font-weight: bold;}

.gallery-block.cards-gallery .card{transition: 0.4s easy;}
.gallery-block.cards-gallery .card img{box-shadow: 0px 2px 10px rgba(0,0,0,0.15);}
.gallery-block.cards-gallery .card-body{text-align: center;}
.gallery-block.cards-gallery .card-body p{font-size: 15px;}
.gallery-block.cards-gallery a{color:#212529; }
.gallery-block.cards-gallery a:hover{text-decoration: none;}
.gallery-block.cards-gallery  .card{
	margin-bottom: 30px;
	box-shadow: 0px 2px 10px rgba(0,0,0,0.15);
}

@media (min-width: 576px) {

	.gallery-block .transform-on-hover:hover {
	    transform: translateY(-10px) scale(1.02);
	    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15) !important; 
	}
}
.btn {
    background-color: #4A4A4A;
    border: none;
    border-radius: 81px;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 1;
    transition: 0.3s;
  }
  
  .btn:hover {opacity: 1}
